* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
.contain {
  height: 80vh;
  width: 40vw;
  margin: auto;
  margin-top: 80px;
  outline: 2px solid rgb(158, 154, 154);
  box-shadow: 1px 1px 42px 2px;
}
.div {
  height: 10vh;
  width: 100%;
  font-size: 64px;
  /* font-weight: 600; */
  text-align: center;
  text-shadow: 1px 1px 2px #888888;
}
.box {
  height: 10vh;
  width: 5vw;
  float: left;
}
.yellow {
  background-color: #fecf9d;
}
.brown {
  background-color: #cf8c4a;
}
 div{
    transition: transform 0.3s ease-in-out;
}
 
